#deleteAccountModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3
              | Delete Account
          .modal-body
            | By doing this you are letting go of fun opportunities in the future to
            | get together, play and make friends. Are you sure you want to delete your account from TeamUp?
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            a.btn.btn-danger.btn-ok Delete
