header
  .container-fluid
    nav.navbar.navbar-fixed-top(role='navigation')
      .navbar-header
        if isAuth
          button.navbar-toggle.pull-left(type="button", data-toggle="collapse", data-target="#navbarResLeft", id="sidenav")
            span.glyphicon.glyphicon-cog(style="font-size:1.3em;")
          button.navbar-toggle.pull-right(type="button", data-toggle="collapse", data-target="#navbarResRight", onclick="this.classList.toggle('change');")
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
        span.removeSelect.navbar-brand.hvr-grow-rotate
          // <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          | Team Up

      if isAuth
        #navbarResRight.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href="/") Home
            li
              a(href="#") Sports

          ul.nav.navbar-nav.navbar-right
            li
              a(href='#', data-toggle='modal', data-target='#contactUsModal') Contact Us
            li
              a(href='/auth/logout')
                span.glyphicon.glyphicon-log-in
                |  Log Out
    if isAuth
      include sidebar
