header
  .container-fluid
    nav.navbar.navbar-fixed-top
      .navbar-header
        a.removeSelect.navbar-brand.hvr-grow-rotate(onclick='return false')
          // <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          | Team Up
      if isAuth
        ul.nav.navbar-nav
          each navLabel in ['Home', 'Sports', 'Contact Us']
            li
              a(href="#")= navLabel

        a.btn.btn-danger.navbar-btn(href="/auth/logout") Log Out

