header
  .container-fluid
    nav.navbar.navbar-fixed-top
      .navbar-header.nav-justified
        a.removeSelect.navbar-brand.hvr-grow-rotate(onclick='return false')
          // <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          | Team Up
