header
  .container-fluid
    nav.navbar.navbar-fixed-top(role='navigation')
      .navbar-header
        if isAuth
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar", onclick="this.classList.toggle('change');")
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
        span.removeSelect.navbar-brand.hvr-grow-rotate
          // <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          | Team Up

      if isAuth
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href="#") Home
            li
              a(href="#") Sports
            li
              a(href='#', data-toggle='modal', data-target='#contactUsModal') Contact Us

          ul.nav.navbar-nav.navbar-right
            li#userToggleSideBar.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-user
                  |  Account
              ul.dropdown-menu
                li
                  a(href='#') Edit Account
                li
                  a(href='#', data-toggle='modal', data-target='#deleteAccountModal') Delete Account
            li
              a(href='/auth/logout')
                span.glyphicon.glyphicon-log-in
                |  Log Out

        //- a.btn.btn-danger.navbar-btn(href="/auth/logout") Log Out
