header
  .container-fluid
    nav.navbar.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar", onclick="this.classList.toggle('change');")
          span.icon-bar.bar1
          span.icon-bar.bar2
          span.icon-bar.bar3
        a.removeSelect.navbar-brand.hvr-grow-rotate(onclick='return false')
          // <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          | Team Up
      if isAuth
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            each navLabel in ['Home', 'Sports', 'Contact Us']
              li
                a(href="#")= navLabel

          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                span.glyphicon.glyphicon-user
                |  Account
            li
              a(href='/auth/logout')
                span.glyphicon.glyphicon-log-in
                |  Log Out

        //- a.btn.btn-danger.navbar-btn(href="/auth/logout") Log Out






