link(rel="stylesheet", href="/stylesheets/sidebar.css")
div#sidebar-wrapper
  div
    button.close.sidebarClose(type="button",aria-label="Close")
      <span aria-hidden="true">&times;</span>
    div#account-img
      img.img-responsive.img-circle(src="https://cdn0.iconfinder.com/data/icons/sports-android-l-lollipop-icon-pack/24/football-128.png", width="82", height="82")
    ul.sidebar-nav-content
      li Brad <span> [Status: away] </span>
      li Manage events
      li <a href="/create"> Create Sports Event </a>
      li <a href="/join"> Join Sports Event </a>
      li #joinedEvents

