link(rel="stylesheet", href="/stylesheets/sidebar.css")
#sidebar-wrapper
  //- button.close.sidebarClose(type="button",aria-label="Close")
    //- <span aria-hidden="true">&times;</span>
  .profile-user-pic
    img.img-responsive.img-circle(src= userData.image, width="82", height="82")
    .profile-user-name #{userData.firstname}
      span [Status: away]
  ul.sidebar-nav-content.list-group
    li
      a.list-group-item.list-group-item-action(href="#")
        | Manage events
    li
      a.list-group-item.list-group-item-action(href="/create")
        | Create Sports Event
    li
      a.list-group-item.list-group-item-action(href="#")
        | Join Sports Event
    li
      a.list-group-item.list-group-item-action(href='auth/editAccount')
        | Edit Account


  ul.sidebar-nav-content.list-group
    li
      a.list-group-item.list-group-item-action(href="#", data-toggle='modal', data-target='#deleteAccountModal')
        | Delete Account
