extends placeholders/header
link(rel="stylesheet", href="/stylesheets/create.css")

body(onload='loadMap()')
  h3 My Google Maps Demo
  #map
  script(src='/javascripts/create.js')
  script(src='https://maps.googleapis.com/maps/api/js')
