extends placeholders/header
block content
  h3 Create Sports Event
  #map
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBOPHTiGEVhZh9LaKbtNjsSjvbD1R6r9Kw&callback=loadMap', type='text/javascript')
  script(src='/javascripts/create.js')
  link(rel="stylesheet", href="/stylesheets/create.css")
