extends placeholders/header
block content
  #header
    h2 Create a Sports Event
    ul
      button.btn.btn-info(type='button', onclick='displayMarkers(1)')
        span
          img(src="https://png.icons8.com/soccer-ball/color/24")
          |  Soccer
      button.btn.btn-info(type='button', onclick='displayMarkers(2)')
        span
          img(src="https://png.icons8.com/basketball/color/24")
          |  Basketball
      button.btn.btn-info(type='button', onclick='displayMarkers(2)')
        span
          img(src="https://png.icons8.com/volleyball/office/24")
          |  Volleyball
      button.btn.btn-info(type='button', onclick='displayMarkers(2)')
        span
          img(src="https://png.icons8.com/baseball/color/24")
          |  Baseball
  #location
    input#pac-input.controls(type='text', placeholder='Enter a Location')
  #map
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBOPHTiGEVhZh9LaKbtNjsSjvbD1R6r9Kw&libraries=places&callback=loadMap', async='', defer='')
  script(src='/javascripts/create.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel="stylesheet", href="/stylesheets/create.css")

