extends placeholders/header.pug
block content
  .container
    aside.sidebarDisplayed
      #page-content-wrapper
        .container-fluid
          .pageheader
            h1 Edit Profile
            hr
            .row
              // left column
              .col-md-3
                .text-center
                  img.avatar.img-circle(src=userData.image, alt='avatar')
                  h6 Upload profile photo...
                  input.form-control(type='file')
              // edit form column
              .col-md-9.personal-info
                h3 Personal info
                form.form-horizontal(role='form')
                  .form-group
                    label.col-lg-3.control-label First name:
                    .col-lg-8
                      input.form-control(type='text', value=userData.firstname, required)
                  .form-group
                    label.col-lg-3.control-label Last name:
                    .col-lg-8
                      input.form-control(type='text', value=userData.lastname, required)
                  .form-group
                    label.col-lg-3.control-label Email:
                    .col-lg-8
                      input.form-control(type='text', value=userData.email, readonly)
                  .form-group
                    label.col-md-3.control-label Current Password:
                    .col-md-8
                      input.form-control(type='password', placeholder='Enter your password', auto-complete='new-password', required)
                    label.control-label
                      input(type='checkbox')
                      | Update Password
                  #passChangeDiv
                    .alert.alert-info.alert-dismissable
                      a.panel-close.close(data-dismiss='alert') ×
                      i.fa.fa-bell
                      |     Leave the following fields
                      strong  blank
                      |    if you do not want to update your password.
                    .form-group
                      label.col-md-3.control-label New Password:
                      .col-md-8
                        input.form-control(type='password', auto-complete='new-password')
                    .form-group
                      label.col-md-3.control-label Confirm password:
                      .col-md-8
                        input.form-control(type='password', auto-complete='new-password')
                  .form-group
                    label.col-md-3.control-label
                    .col-md-8
                      input.btn.btn-primary(type='button', value='Save Changes')
                      span
                      input.btn.btn-default(type='reset', value='Cancel')
  hr  