// img(src= user.image) will be used for #account-img
// h4= user.name will be used instead of Brad
link(rel="stylesheet", href="/stylesheets/home.css")

div#wrapper-container.sidebarDisplayed
  //<button href="#" id="toggle-sidebar"><span class="btn glyphicon glyphicon-user"> </span> </a>
  include placeholders/sidebar
  // main content here.
  // Row 1:
  // Col A: Event details
  // Col B: Map
  // Row 2:
  // Col A: Chat Application
  div#page-content-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          h1 No events joined yet
      div.row
        div.col-lg-7
          li Test1
          form.form-inline
            div.form-group
              label.sr-only(for="inputSendMsg") Type message here
              input.form-control(type='text', value='', id="inputSendMsg")
            button.btn.btn-primary Send
  
script(src="/javascripts/home.js")
