// img(src= user.image) will be used for #account-img
// h4= user.name will be used instead of Brad
link(rel="stylesheet", href="/stylesheets/home.css")
//- include ./mixins/chatMsg.element.pug

div#wrapper-container.sidebarDisplayed
  //<button href="#" id="toggle-sidebar"><span class="btn glyphicon glyphicon-user"> </span> </a>
  include placeholders/sidebar
  // main content here.
  // Row 1:
  // header
  // Panel A: Map (above chat)
  // Panel B: Event Details (right to chat and map)
  // Row 2:
  // Panel C: Chat Application (footer)
  div#page-content-wrapper
    div.container-fluid
      header
        h3 Event Room
      div.row
        div.col-md-5.panelA
          h6 Map
        div.col-lg-7.panelB
          h6 Event Details
      div.row.panelC
        div.col-md-5
          div.chatUI-container
            div.chatUI-statusBar
            div.chatUI-msgBody
              ul
                //- +chatMsg-element("test")
                //- Messages enter here
            div.chatUI-usrInput
              form(action="", method="")
                div.input-group
                  input.form-control(type='text', value='', id="inputSendMsg", placeholder="message #event", autocomplete="off")
                  span.input-group-btn <button class="btn btn-primary" type="submit"> Send </button>

script(src="/javascripts/socket.io-client/dist/socket.io.js")
script.
  //- Chat Client-Side Behaviour
  $(document).ready(function () {
    var socket = io();

    function generateMsg (content, img, timestamp){
        var formattedMsg = '<li class="clearfix"><span class="userImg pull-left">'
      + '<img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/079/328/1630e0b.jpg" width="28" height="28"/></span><span class="userMsgBody clearfix">'
         + '<div class="header"><strong>Brad</strong><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 5 mins ago </small></div>'
           + '<p>' + content + '</p> </span></li>';
           
      return formattedMsg;
    }

    $('form').submit(function(){
      socket.emit('chat message', $('#inputSendMsg').val());
      $('#inputSendMsg').val('');
       //- Prevent form default behaviour, same as calling preventDefault and stopPropagation on event object
      return false;
    });

    socket.on('chat message', function(msg){
      var msgPrep = " "
      var msgBody = $('.chatUI-msgBody');
      //- Be careful, security vulnerability
      msgBody.find('ul').append(generateMsg(msg));
      //- AutoScroll
      msgBody.scrollTop(msgBody.prop('scrollHeight'));
       
    });
  });

script(src="/javascripts/home.js")
