// img(src= user.image) will be used for #account-img
// h4= user.name will be used instead of Brad
link(rel="stylesheet", href="/stylesheets/home.css")
div#wrapper-container.sidebarDisplayed
  include placeholders/sidebar
  // main content here.
  // Row 1:
  // Col A: Event details
  // Col B: Map
  // Row 2:
  // Col A: Chat Application
  div#page-content-wrapper
    div.container-fluid
      div.row
        div.col-lg-12
          h1 No events joined yet
