//- img(src= user.image) will be used for #account-img
//-  h4= user.name will be used instead of Brad
link(rel="stylesheet", href="/stylesheets/home.css")
link(rel="stylesheet", href="/stylesheets/customScrollbar.css")
include ./mixins/accordion-event.pug

aside.sidebarDisplayed
  //- Accordion display of events
  #page-content-wrapper
    .container-fluid
      .page-header
        h3 My Events
    .container-fluid.home_container
      row
        .col-md-3-offset-3.col
          div#accordion.panel-group
            - 
              const maxEventsDisplayed = ['One', 'Two', 'Three', 'Four', 'Five', 
                         'Six', 'Seven', 'Eight', 'Nine', 'Ten',
                         'Eleven', 'Twelve', 'Thirteen', 'Fourteen',]
              const maxEventsDisplayedLen = maxEventsDisplayed.length;
              const numOfUserEvents = userEvents.length;
            - for (i = 0; i < numOfUserEvents; i++) {
            - if (i == maxEventsDisplayedLen ) {break}
                +event-panel('collapse' + maxEventsDisplayed[i], userEvents[i].teamupName, userEvents[i].locationName, 
                              userEvents[i].sport, userEvents[i].url)
            - }
script(src="/javascripts/home.js")
