//- img(src= user.image) will be used for #account-img
//-  h4= user.name will be used instead of Brad
link(rel="stylesheet", href="/stylesheets/home.css")
link(rel="stylesheet", href="/stylesheets/customScrollbar.css")
include ./mixins/accordion-event.pug

aside.sidebarDisplayed
  //- Accordion display of events
  #page-content-wrapper
    .container-fluid
      .page-header
        h2 My Events
    .container-fluid.home_container
      row
        .col-md-3-offset-3.col
          div#accordion.panel-group
            - for (let i = 0; i < userEvents.length; i++) {
                +event-panel('collapse' + i, userEvents[i].teamupName, userEvents[i].from, userEvents[i].to,
                userEvents[i].sport, userEvents[i].locationName, userEvents[i].locationAddress, userEvents[i].users.length, userEvents[i].createdBy.email, userEvents[i].urlChat,
                userEvents[i].urlEdit, userEvents[i].urlLeave, userEvents[i].urlDelete)
            - }
script(src="/javascripts/home.js")
