extends placeholders/header.pug
include ./mixins/form.element.pug

block content
  if isAuth
    h1 Welcome To The App
    div
      img(src= user.image)
      h4= user.name
  else
    - var label = csrfToken

    link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')
    link(href="/stylesheets/login.css", rel="stylesheet")

    header
      .container-fluid
        nav.navbar.navbar-fixed-top
          .navbar-header.nav-justified
            a.navbar-brand.hvr-grow-rotate(href='#', onclick='return false')
              // <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              | Team Up

    .jumbotron.vertical-center
      .container-fluid
        canvas.background
        .container-fluid
          .row
            .col-xs-12.col-sm-push-3.col-sm-6.glass
              ul.nav.nav-tabs.nav-justified
                li#loginNav.active.hvr-overline-from-left
                  a(href='#', onclick='return false') Sign In
                li#registerNav.hvr-overline-from-left
                  a(href='#', onclick='return false') Register
              br

              include login
              include register

    script(src="https://npmcdn.com/particlesjs@2.0.2/dist/particles.min.js", type="text/javascript")
    script(src="/javascripts/index.js", type="text/javascript")
    script(src="/javascripts/particles.js", type="text/javascript")
