extends placeholders/header
block content
  aside.sidebarDisplayed
    #page-content-wrapper
      .container-fluid
        .page-header
          h2 Browse the map and join a teamup sports event!
        .row
          
          
  link(rel="stylesheet", href="/stylesheets/join.css")

