form#login(action='/auth/login', method='post')
  input(type='hidden', name='_csrf', value= csrfToken)
  //- form-element(forLabel, label, type, name, placeholder, iconClassName)
  +form-element('email', 'Email', 'email', 'email', 'Enter Email', 'glyphicon glyphicon-envelope')
  +form-element('password', 'Password', 'password', 'password', 'Enter Password', 'glyphicon glyphicon-lock')
  .checkbox
    label
      input(type='checkbox', name='remember')
      |  Remember me
  button.btn.btn-primary.btn-block.hvr-grow(type='submit') Submit
  hr
  h5.text-center.social-signin Social Media Sign In
  a.btn.btn-block.btn-social.btn-google.hvr-grow(href="/auth/google")
    span.fa.fa-google
    |             Sign in with Google
  a.btn.btn-block.btn-social.btn-facebook.hvr-grow(href="/auth/facebook")
    span.fa.fa-facebook
    |             Sign in with Facebook
  a.btn.btn-block.btn-social.btn-twitter.hvr-grow(href="/auth/twitter")
    span.fa.fa-twitter
    |             Sign in with Twitter
