extends placeholders/header

block content
  // nav bar
  include ./placeholders/navbar

  // main content
  div.container
    div.row
      div.col-md-6.col-xs-6
        h1 Oops!
    div.row
      div.col-md-6.col-xs-6
        h3 We can't seem to find the page you're looking for
    div.row
      div.col-md-6.col-xs-
        p <strong>Error Code:</strong> <em>404</em>
