extends placeholders/header

block content
  link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')

  .container
      .row
        .col-xs-12.col-sm-push-3.col-sm-6.well
          ul.nav.nav-tabs.nav-justified
            li
              a(href='/login') Sign In
            li.active
              a(href='#', onclick='return false') Register
          br
          form(action='/login', method='post')
            .form-group
              label(for='fname') First Name:
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input#fname.form-control(type='text', name='fname', placeholder='First Name')
            .form-group
              label(for='lname') Last Name:
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input#lname.form-control(type='text', name='lname', placeholder='Last Name')
            .form-group
              label(for='email') Email:
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-envelope
                input#email.form-control(type='email', name='email', placeholder='Email')
            .form-group
              label(for='pwd') Password:
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                input#pwd.form-control(type='password', placeholder='Enter Password', name='pwd')
            .form-group
              label(for='confirmpwd') Confirm Password:
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                input#confirmpwd.form-control(type='password', placeholder='Confirm Password', name='confirmpwd')
            .checkbox
              label
                input(type='checkbox', name='remember')
                |  Remember me
            button.btn.btn-primary.btn-block(type='submit') Submit
            hr



