form#register(action='/auth/register', method='post')
  input(type='hidden', name='_csrf', value= csrfToken)
  //- form-element(forLabel, label, type, name, placeholder, iconClassName)
  +form-element('fname', 'First Name', 'text', 'fname', 'Enter First Name', 'glyphicon glyphicon-user', true)
  +form-element('lname', 'Last Name', 'text', 'lname', 'Enter Last Name', 'glyphicon glyphicon-user', true)
  +form-element('email', 'Email', 'email', 'email', 'Enter Email', 'glyphicon glyphicon-envelope', true)
  +form-element('password', 'Password', 'password', 'password', 'Enter Password', 'glyphicon glyphicon-lock', true)
  +form-element('confirmPassword', 'Confirm Password', 'password', 'confirmPassword', 'Confirm Password', 'glyphicon glyphicon-lock', true)
  hr
  button.btn.btn-primary.btn-block.hvr-grow(type='submit') Submit
