extends placeholders/header
include ./mixins/form.element.pug

block content
  link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')

  .container
      .row
        .col-xs-12.col-sm-push-3.col-sm-6.well
          ul.nav.nav-tabs.nav-justified
            li
              a(href='/login') Sign In
            li.active
              a(href='#', onclick='return false') Register
          br
          form(action='/auth/register', method='post')
            //- form-element(forLabel, label, type, name, placeholder, iconClassName)
            +form-element('fname', 'First Name', 'text', 'fname', 'Enter First Name', 'glyphicon glyphicon-user')
            +form-element('lname', 'Last Name', 'text', 'lname', 'Enter Last Name', 'glyphicon glyphicon-user')
            +form-element('email', 'Email', 'email', 'email', 'Enter Email', 'glyphicon glyphicon-envelope')
            +form-element('password', 'Password', 'password', 'password', 'Enter Password', 'glyphicon glyphicon-lock')
            +form-element('confirmPassword', 'Confirm Password', 'password', 'confirmPassword', 'Confirm Password', 'glyphicon glyphicon-lock')
            hr
            button.btn.btn-primary.btn-block(type='submit') Submit
