.container-fluid
  h2 Sports
  ul
    img(src="https://png.icons8.com/soccer-ball/color/24")
    p Soccer
    img(src="https://png.icons8.com/basketball/color/24")
    p Basketball
    img(src="https://png.icons8.com/volleyball/color/24")
    p Volleyball
    img(src="https://png.icons8.com/baseball/color/24")
    p Baseball
