#header {
  text-align: center;
  padding: 15px;
  background-color: red;
  color: white;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 3px 11px;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#map {
  height: 400px;
}

h3 {
  text-align: center;
  padding: 10px;
}
