#page-content-wrapper {
  /* The image used */
  background-image: url("/assets/images/raster/jpg/create-event.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  text-align: center;
  padding: 15px;
  background-color: #286090;
  color: #f5f5f5;
  font-weight: bold;
}

h2 {
  color: #f5f5f5;
  font-weight: bold;
}

label {
  color: #f5f5f5;
}

p#errorLocation {
  color: #f44336;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 3px 11px;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#map {
  height: 400px;
  width: 100%;
}

h3 {
  color: #f5f5f5;
  text-align: center;
  padding: 10px;
}

button.btn-info {
  margin: 10px;
}

button.btn-primary {
  margin-bottom: 15px;
}

.links, .bootstrap-timepicker.timepicker .glyphicon {
  color: #039be5;
}
