
@media (max-width:768px) {

}

@media (min-width: 769px) {

}


/* Helper classes  */
.spacer {
    margin-top:0;
}

.panel > .panel-heading {
    background-color: #102027;
}


/* Panel Setup */

/* Map  */
.panelA{
    /* border: 2px solid orange; */
}

#map a { 
    color:blue;
}

#map {
  height: 300px;
  width: 100%;
}

/* Event Details  */
.panelB{
    /* border: 2px solid blue; */
    overflow-y: auto;
}

 #event-details{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#event-details li {
    padding: 0.5em;
    font-size: 1.1em;
}

#event-details .details {
    margin-left: 20px;
}

#event-details .details_newline {
    margin-left: 46px;
}


#event-details .icon-default {
   color: black;
   font-size: 1.5em;
}

#event-participants {
    list-style-type: none;
    margin: 0;
    padding: 0.2em;
    word-break: break-all;
}

#event-participants > li{
    display: inline;
    margin: 1.1em;
}

/* CHAT MESSENGER UI */
.panelC {
    bottom: 0px;
    padding: 0;
    margin-top: 5px;
    width: 100%;
}

.chatUI-container {
    width: 100%;
 }

.chatUI-msgBody {
    height: 360px;
    overflow-y: auto;
    border-top: 1px outset rgb(74.1%, 74.1%, 74.1%);
    border-left: 1px outset rgb(74.1%, 74.1%, 74.1%);
}

.chatUI-msgBody ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-break:break-all;
}

.chatUI-msgBody p {
    margin-left: 50px;
}

.chatUI-msgBody li {
    padding-bottom: 5px;
}

.chatUI-msgBody li:hover {
    background-color: rgb(89.8%, 89.8%, 89.8%);
}

.chatUI-usrInput .input-group{
    z-index: 0;
}

.timestamp-default {
    margin-right: 5px;
}

.userImg {
    margin-right: 10px;
}

/* END OF CHAT MESSENGER UI */