
@media (max-width:768px) {

}

@media (min-width: 769px) {

}

/* Panel Setup */
.panelA{
    border: 2px solid orange;
}

.panelB{
    border: 2px solid blue;
    overflow-y: auto;
}

/* Event Details  */
#event-details{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#event-details .icon-default {
   color: black;
   font-size: 1.5em;
}

#event-details .item {
}


/* CHAT MESSENGER UI */
.panelC {
    bottom: 0px;
    padding: 0;
    margin-top: 5px;
}

.chatUI-container {
    width: 100%;
}

.chatUI-msgBody {
    height: 200px;
    overflow-y: auto;
    border-top: 1px outset rgb(74.1%, 74.1%, 74.1%);
    border-left: 1px outset rgb(74.1%, 74.1%, 74.1%);
}

.chatUI-msgBody ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-break:break-all;
}

.chatUI-msgBody p {
    margin-left: 50px;
}

.chatUI-msgBody li {
    padding-bottom: 5px;
}

.chatUI-msgBody li:hover {
    background-color: rgb(89.8%, 89.8%, 89.8%);
}

.chatUI-usrInput .input-group{
    z-index: 0;
}

.timestamp-default {
    margin-right: 5px;
}

.userImg {
    margin-right: 10px;
}

/* END OF CHAT MESSENGER UI */