#page-content-wrapper {
    width: 100%;
    margin-top:10px;
    position: fixed;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    height: 100%;
    overflow-y: auto;
}


#wrapper-container.sidebarDisplayed #sidebar-wrapper {
    width: 215px;
}

#wrapper-container #sidebar-wrapper{
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#wrapper-container.sidebarDisplayed #page-content-wrapper {
    margin-left: 215px;
}


@media (max-width:768px) {
 
}

@media (min-width: 769px) {
 
}

/* Panel Setup */
.panelA{
    border: 2px solid orange;
}

.panelB{
    border: 1px solid blue;
}


/* CHAT MESSENGER UI */
.panelC {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.chatUI-container {
    border: 2px solid red;
    width: 100%;
}

.chatUI-msgBody {
    height: 200px;
    overflow-y: auto;
}

.chatUI-msgBody ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chatUI-msgBody li {
    padding-bottom: 5px;
}

.chatUI-msgBody li:hover {
    background-color: rgb(89.8%, 89.8%, 89.8%);
}



/* END OF CHAT MESSENGER UI */

/* Custom Scrollbar (only works for web-kit based browers */
::-webkit-scrollbar {
    width: 12px;
    transition: all 0.25s ease;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}