
#accordion a { 
  color: black;
}

#accordion a :hover { 
  color: blue;
}

#accordion abbr[title] {
  border-bottom: none;
}

#listMembers .userList {
  list-style-type: none;
  margin: 20px 0;
}

@media (max-width: 980px) {
  #participants {
    text-align:left;
  }
}

@media (min-width: 1401px) {
  .home_container {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .home_container {
    width: 100%;
  }
}

#editEventSaveBtn {
  margin-right: 1em;
  margin-top: 1em;
}

form .error {
  color: indianred;
}