#sidebar-wrapper {
    z-index: 2;
    position: fixed;
    width: 0;
    height: 100%;
    background: rgba(114, 127, 132, 0.3);
    opacity: 1;
    display:block;
    overflow-y: hidden;
}

#sidebar-wrapper:hover {
    overflow-y: auto;
}

.sidebar-nav-content {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space : nowrap;
}

.sidebar-nav-content li {
    text-indent: 25px;
    line-height: 40px;
}

.sidebar-nav-content li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav-content li a:hover {
    background:teal;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.profile-user-pic img {
    display: block;
    margin-left: 50px;
}

.glyphicon.glyphicon-plus {

}

.icons {
    padding-left: 5px;
}
