#sidebar-wrapper {
  z-index: 2;
  position: fixed;
  width: 0;
  height: 100%;
  background-color: #263238;
  opacity: 1;
  display: block;
  overflow-y: hidden;
  left: 0;
  padding-top: 3em;
  color: white;
 
}

.sidebar-nav-content {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}

.sidebar-nav-content li {
  text-indent: 25px;
  line-height: 40px;
}

/* .sidebar-nav-content li a {
  display: block;
  text-decoration: none;
  color: black;
} */

/* .sidebar-nav-content li a:hover {
  background: teal;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
} */

.profile-user-pic {
  padding: 2em 1em;
  background-color: #102027;
  text-align: center;
  width: 215px;
}

.cropped {
    object-fit: cover;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.glyphicon.glyphicon-plus {}

.icons {
  padding-left: 5px;
}

.status-menu {
  background-color: #263238;
  color: white;
}

.status-menu li a {
  border-left: none;
  border-right: none;
  border-top: : none;
  border-bottom: 1px solid gray;
  padding: 4px;
  color: white;
  margin-left: 10px;
  margin-right: 5px;
}

.status-menu li a:hover {
  background-color: #37474f;
  color: white;
}

.list-group-item.list-group-item-action {
  padding: 0em;
  background-color: #263238;
  border-color: #37474f;
  color: white;
  border-radius: 0em;

}

a.list-group-item:focus, a.list-group-item:hover{
  background-color: #37474f;
  color: white;
}

#page-content-wrapper {
    margin-top:10px;
    position: relative;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
 }

@media (min-width: 451px){
    aside.sidebarDisplayed #page-content-wrapper {
      margin-left: 215px;
  }

  aside.sidebarDisplayed #sidebar-wrapper {
      width: 215px;
  }
}

aside #sidebar-wrapper{
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

@media (max-width:450px){

  aside.sidebarDisplayed #sidebar-wrapper {
    width: 215px;
  }

    aside.sidebarDisplayed #page-content-wrapper {
      margin-left: 0;
  }
    aside.sidebarDisplayed #overlay  {
      position: fixed;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
      transition: all 0.25s ease;
  }

}
