#sidebar-wrapper {
  z-index: 2;
  position: fixed;
  width: 0;
  height: 100%;
  background-color: #263238;
  opacity: 1;
  display: block;
  overflow-y: hidden;
  left: 0;
  padding-top: 3em;
  color: white;
 
}

.sidebar-nav-content {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}

.sidebar-nav-content li {
  text-indent: 25px;
  line-height: 40px;
}

/* .sidebar-nav-content li a {
  display: block;
  text-decoration: none;
  color: black;
} */

/* .sidebar-nav-content li a:hover {
  background: teal;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
} */

.profile-user-pic img {
  margin-bottom: 1em;
}

.profile-user-pic {
  padding: 2em 1em;
  background-color: #102027;
  text-align: center;
  width: 215px;
}

.icons {
  padding-left: 5px;
}


.list-group-item.list-group-item-action {
  padding: 0em;
  background-color: #263238;
  border-color: #37474f;
  color: white;
  border-radius: 0em;

}

a.list-group-item:focus, a.list-group-item:hover{
  background-color: #37474f;
  color: white;
}

#page-content-wrapper {
    margin-top:10px;
    position: relative;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
 }

aside.sidebarDisplayed #page-content-wrapper {
    margin-left: 215px;
}

aside.sidebarDisplayed #sidebar-wrapper {
    width: 215px;
}

aside #sidebar-wrapper{
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

