body {
  /* color: white; */
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
}

aside {
  left: 0;
}

hr {
  margin: 1em;
}

a {
  color: white;
}

a:hover {
  color: #CDDC39;
}

.glyphicon{
  color: white;
}
